@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensans-bold-webfont.eot');
    src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('fonts/opensans-bold-webfont.woff') format('woff'),
    url('fonts/opensans-bold-webfont.ttf') format('truetype'),
    url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('fonts/opensans-extrabold-webfont.eot');
    src: url('fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans-extrabold-webfont.woff2') format('woff2'),
    url('fonts/opensans-extrabold-webfont.woff') format('woff'),
    url('fonts/opensans-extrabold-webfont.ttf') format('truetype'),
    url('fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans-light-webfont.woff2') format('woff2'),
    url('fonts/opensans-light-webfont.woff') format('woff'),
    url('fonts/opensans-light-webfont.ttf') format('truetype'),
    url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('fonts/opensans-regular-webfont.woff') format('woff'),
    url('fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('fonts/opensans-semibold-webfont.eot');
    src: url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('fonts/opensans-semibold-webfont.woff') format('woff'),
    url('fonts/opensans-semibold-webfont.ttf') format('truetype'),
    url('fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bad_scriptregular';
    src: url('fonts/badscript-regular-webfont.eot');
    src: url('fonts/badscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/badscript-regular-webfont.woff2') format('woff2'),
    url('fonts/badscript-regular-webfont.woff') format('woff'),
    url('fonts/badscript-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body{
    font-family: 'open_sanslight';
    margin: 0;
    /*line-height: 1;*/
}

html, body {
    height: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

.clearfix {
    clear: both;
}

.b-container {
    width: 100%;
    margin: 0 auto;
    display: table;
    height: 100%;
}

.b-container__header {
    background: url(../img/bg_content.jpg) top right;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
    width: 100%;
    display: table-row;
    height: 100%;

}

.b-header {
    padding: 50px 0 50px;
    text-align: center;
}

.content_middle {
    max-width: 960px;
    margin: 0 auto;
}

.b-header__headline {
    font-size: 22px;
    color: #1e1e1e;
    text-transform: uppercase;
    font-family: 'open_sansregular';
}

.b-header__headlineBold {
    font-size: 35px;
    color: #1e1e1e;
    text-transform: uppercase;
    font-family: 'open_sanssemibold';
}

.b-header__inform {
    margin: 70px 0 0;
    font-size: 0;
}

.b-inform__bookLeft {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin: 0 4% 0 0;
}

.b-inform__formLeft {
    width: 56%;
    display: inline-block;
    vertical-align: top;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7530+0,ff7530+0,ff8738+100 */
    background: rgb(255,117,48); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,117,48,1) 0%, rgba(255,117,48,1) 0%, rgba(255,135,56,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,117,48,1) 0%,rgba(255,117,48,1) 0%,rgba(255,135,56,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,117,48,1) 0%,rgba(255,117,48,1) 0%,rgba(255,135,56,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7530', endColorstr='#ff8738',GradientType=1 ); /* IE6-9 */


}

.b-formLeft {
    padding: 0 30px 30px;
}

.b-formLeft__formHeader{
    padding: 23px 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8738+0,ff8738+0,ff7530+100 */
    background: rgb(255,135,56); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,135,56,1) 0%, rgba(255,135,56,1) 0%, rgba(255,117,48,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,135,56,1) 0%,rgba(255,135,56,1) 0%,rgba(255,117,48,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,135,56,1) 0%,rgba(255,135,56,1) 0%,rgba(255,117,48,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8738', endColorstr='#ff7530',GradientType=1 ); /* IE6-9 */
    margin: 0 0 30px;
    position: relative;
}

.b-formHeader__headlineBold {
    font-size: 22px;
    color: #ffffff;
    font-family: 'open_sansbold';
    margin: 0 0 5px;
}

.b-formHeader__text {
    font-size: 16px;
    color: #ffffff;
}

.b-formLeft__formHeader:after {
    content: '';
    display: block;
    width: 476px;
    height: 30px;
    background: url("../img/shadow.png") no-repeat;
    position: absolute;
    bottom: -30px;
    left: 0;
}

.b-formLeft__formReg {
    background: #ffffff;
}

.b-formReg__headline {
    font-size: 18px;
    color: #1e1e1e;
    font-family: 'open_sanssemibold';
    margin: 0 0 20px;
}

.b-formReg {
    padding: 25px 30px 30px;
}

.sr-box {
    width: 100% !important;
}

.sr-box-list li {
    padding: 0 !important;
    height: auto !important;
}

.sr-box-list input[type="text"] {
    font-family: 'open_sanslight' !important;
    font-size: 14px !important;
    height: auto !important;
    color: #6f6f6f !important;
    margin-bottom: 10px !important;
    padding: 10px 10px 10px 30px !important;
    position: relative;
    width: 100%;
    z-index: 10;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /*background: #efefef !important;*/
    border-radius: 5px !important;
    border: 0 !important;

}

.form_input__name {
    background: url("../img/user.png") #efefef no-repeat 10px 50% !important;
}

.form_input__email{
    background: url("../img/mail.png") #efefef no-repeat 10px 50% !important;
}


.b-btn__inputPart {
    font-size: 14px;
    color: #ffffff;
    font-family: 'open_sansbold';
    text-transform: uppercase;
    background: #42b732;
    background: linear-gradient(0deg, #42b732 0%, #42b732 100%);
    border-radius: 4px !important;
    width: 100% !important;
    border-radius: 5px !important;
    border: 0 !important;
    padding: 12px 0;
    margin: 10px 0 0;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(50, 155, 36, 1);
    -moz-box-shadow:    0px 3px 0px 0px rgba(50, 155, 36, 1);
    box-shadow:         0px 3px 0px 0px rgba(50, 155, 36, 1);
}

.b-btn__inputPart:hover {
    background: #3ca32c;
}

.b-formReg__lock {
    margin: 10px 0 0;
}

.b-formReg__lock__img {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px 0 0;
}

.b-formReg__lockText {
    color: #6f6f6f;
    font-size: 12px;
    font-family: 'open_sanslight';
    display: inline-block;
    vertical-align: middle;
}

/*.b-bookLeft__img {*/
    /*position: relative;*/
    /*left: -28px;*/
/*}*/

.b-header__action {
    margin: 60px 0 0;
    border:4px dashed rgba(0, 0, 0, 0.3);
    font-size: 0;
}

.b-action {
    padding: 60px 35px;
}

.b-action__arrowLeft {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.b-action__timerRight{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.b-arrowLeft__text {
    font-size: 30px;
    font-family: 'bad_scriptregular';
    color: #1e1e1e;
    line-height: 1.0;
}

.b-arrowLeft__img {
    margin: 5px 0 0;
    max-width: 100%;
}

.b-timerRight .timer_wrap {
    text-align: center;
}
@media screen and (max-width: 480px) {
    .b-timerRight .timer_wrap {
    }
}

.b-timerRight .hour,
.b-timerRight .min,
.b-timerRight .sec,
.b-timerRight .day {
    display: inline-block;
    margin: 0 3px;
    box-sizing: border-box;
    width: 74px;
    position: relative;
    border: 4px solid #f45514;
    border-radius: 3px;
}
@media screen and (max-width: 480px) {
    .b-timerRight .hour,
    .b-timerRight .min,
    .b-timerRight .sec,
    .b-timerRight .day {
        margin: 0;
        /*width: 85px;*/
    }
}
.b-timerRight .hour:last-child:after,
.b-timerRight .min:last-child:after,
.b-timerRight .sec:last-child:after,
.b-timerRight .day:last-child:after {
    display: none;
}
.b-timerRight .hour > p,
.b-timerRight .min > p,
.b-timerRight .sec > p,
.b-timerRight .day > p {
    font-family: 'open_sansregular';
    font-size: 40px;
    display: inline-block;
    text-align: center;
    padding: 0px 0px;
    color: #f45514;
}
@media screen and (max-width: 480px) {
    .b-timerRight .hour > p,
    .b-timerRight .min > p,
    .b-timerRight .sec > p,
    .b-timerRight .day > p {
        /*padding: 3px 7px;*/
        /*font-size: 40px;*/
    }
}
.b-timerRight .dash_title {
    font-size: 14px;
    font-family: 'open_sansbold';
    display: block;
    text-align: center;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
}
@media screen and (max-width: 480px) {
    .b-timerRight .dash_title {
        font-size: 14px;
        bottom: -20px;
    }
}


#stop {
    text-transform: uppercase;
    color: #1e1e1e;
    font-size: 24px;
    font-family: 'open_sansbold';
}

.separator {
    display: inline-block;
    color: #f45514;
    font-size: 50px;
}

.b-container__footer {
    background: #a2a2a2;
}

.b-footer {
    padding: 30px 0;
    text-align: center;
}


.b-footerMenu {
    list-style: none;
    list-style: none;
    margin: 0;
    padding: 0;

}

.b-footerMenu__link {
    color: #fff;
    text-decoration:underline;
}

.b-footerMenu__link:hover {
    text-decoration:none;
}

.b-footerMenu__item {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin: 0% 0 0 8%;
}

.b-footerMenu__item:first-child {
    margin:0;
}

.b-footer__copyright {
    margin: 10px 0 0 0;
    font-size: 0;
}

.b-copyright__textLeft {
    display: inline-block;
    vertical-align: top;
    width: 75%;
    margin: 0 2% 0 0;
}

.b-copyright__logo {
    display: inline-block;
    vertical-align: top;
    width: 23%;
}

.b-textLeft {
    font-size: 14px;
    text-align: left;
    color:#585858;
    line-height: 1.5;
}

.b-logo__img {
    max-width: 100%;
}

.b-contact__link {
    font-size: 14px;
    text-decoration: none;
    color:#585858;
}


/*************************************
Build the scene and rotate on hover
**************************************/

.scene {
    width: 330px;
    height: 462px;
    /*margin: 130px;*/
    float: left;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}

.movie {
    width: 330px;
    height: 462px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-130px);
    -moz-transform: translateZ(-130px);
    transform: translateZ(-130px);
    -webkit-transition: -webkit-transform 350ms;
    -moz-transition: -moz-transform 350ms;
    transition: transform 350ms;
}

.movie:hover {

    -webkit-transform: rotateY(-78deg) translateZ(20px);
    -moz-transform: rotateY(-78deg) translateZ(20px);
    transform: rotateY(-78deg) translateZ(20px);
}

/*************************************
Transform and style the two planes
**************************************/

.movie .poster,
.movie .info {
    position: absolute;
    width: 330px;
    height: 462px;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.movie .poster  {
    -webkit-transform: translateZ(130px);
    -moz-transform: translateZ(130px);
    transform: translateZ(130px);
    background-size: cover;
    background-repeat: no-repeat;
}

.movie .info {
    -webkit-transform: rotateY(103.5deg) translateZ(130px);
    -moz-transform: rotateY(103.5deg) translateZ(130px);
    transform: rotateY(103.5deg) translateZ(130px);
    font-size: 0.75em;
}

/*************************************
Shadow beneath the 3D object
**************************************/

.csstransforms3d .movie::after {
    content: '';
    width: 260px;
    height: 260px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 45px 50px rgba(0,0,0,0.4);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotateX(90deg) translateY(130px);
    -moz-transform: rotateX(90deg) translateY(130px);
    transform: rotateX(90deg) translateY(130px);
    -webkit-transition: box-shadow 350ms;
    -moz-transition: box-shadow 350ms;
    transition: box-shadow 350ms;
}

.csstransforms3d .movie:hover::after {
    box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

/*************************************
Movie information
**************************************/

/*.info header {*/
    /*color: #FFF;*/
    /*padding: 7px 10px;*/
    /*font-weight: bold;*/
    /*height: 195px;*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*text-shadow: 0px 1px 1px rgba(0,0,0,1);*/
/*}*/

/*.info header h1 {*/
    /*margin: 0 0 2px;*/
    /*font-size: 1.4em;*/
/*}*/

/*.info header .rating {*/
    /*border: 1px solid #FFF;*/
    /*padding: 0px 3px;*/
/*}*/

/*.info p {*/
    /*padding: 1.2em 1.4em;*/
    /*margin: 2px 0 0;*/
    /*font-weight: 700;*/
    /*color: #666;*/
    /*line-height: 1.4em;*/
    /*border-top: 10px solid #555;*/
/*}*/

/*************************************
Generate "lighting" using box shadows
**************************************/

.movie .poster,
.movie .info,
.movie .info header {
    -webkit-transition: box-shadow 350ms;
    -moz-transition: box-shadow 350ms;
    transition: box-shadow 350ms;
}

.csstransforms3d .movie .poster {
    box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}

.csstransforms3d .movie:hover .poster {
    box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}

.csstransforms3d .movie .info,
.csstransforms3d .movie .info header {
    box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.csstransforms3d .movie:hover .info,
.csstransforms3d .movie:hover .info header {
    box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}

/*************************************/
.no-csstransforms3d .movie .poster,
.no-csstransforms3d .movie .info {
    position: relative;
}

.form-el_input {
    margin-bottom: 10px !important;
    border-radius: 5px;
}

.form-el_input input {
    display: block !important;
    outline: none !important;
    font-size: 14px !important;
    font-family: 'open_sanslight' !important;
    color: #6f6f6f !important;
    font-weight: 200 !important;
    padding: 10px 8% !important;
    width: 84% !important;
    border: 0;
    background: transparent;
}


.form__input--name {
    background: url("../img/user.png") #efefef no-repeat 10px 50% !important;
}

.form__input--mail {
    background: url("../img/mail.png") #efefef no-repeat 10px 50% !important;
}

.b-btnPopup__link {
    font-size: 14px;
    color: #ffffff;
    font-family: 'open_sansbold';
    text-transform: uppercase;
    background: #42b732;
    background: linear-gradient(0deg, #42b732 0%, #42b732 100%);
    border-radius: 4px !important;
    width: 100% !important;
    border-radius: 5px !important;
    border: 0 !important;
    padding: 12px 0;
    margin: 10px 0 0;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(50, 155, 36, 1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(50, 155, 36, 1);
    box-shadow: 0px 3px 0px 0px rgba(50, 155, 36, 1);
    cursor: pointer;
}

.b-header__help {
    font-size: 0;
    margin: 60px 0 0;
}

.b-help__helpLeft {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin: 0;
}

.b-help__helpRight {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin: 0;
}

.b-helpLeft__headline {
    font-family: 'open_sansbold';
    text-transform: uppercase;
    color: #1e1e1e;
    font-size: 22px;
    text-align: left;
    line-height: 1.5;
}

.b-helpRight__list30 {
    display: inline-block;
    width: 47%;
    vertical-align: top;
    margin: 0 0 0 6%;
}

.b-helpRight__list30:first-child {
    margin: 0;
}

.b-list30 {
    list-style: none;
}

.b-list30__item {
    color: #1e1e1e;
    font-size: 16px;
    text-align: left;
    position: relative;
    padding: 0 0 0 20px;
    margin: 0 0 10px 0;
    font-family: 'open_sansregular';
}

.b-list30__item:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 11px;
    background: url(../img/li_check.png) center center no-repeat;
    position: absolute;
    top: 6px;
    left: 0;
}

.b-helpRight__list32 {
    display: inline-block;
    width: 36%;
    vertical-align: top;
    margin: 0 0 0 1%;
    font-family: 'open_sansregular';
}

.b-container__author {
    background: url(../img/bg_author.jpg) top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 20px 0 0;
    text-align: center;
    color: #ffffff;
}

.b-author__contentAuthor {
    font-size: 0;
}

.b-contentAuthor__leftAuthor {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    margin: 0 3% 0 0;
}

.b-contentAuthor__rightAuthor {
    display: inline-block;
    vertical-align: middle;
    width: 57%;
}

.b-rightAuthor {
    padding: 0 0 20px 0;
}

.b-rightAuthor__title {
    font-family: 'open_sansbold';
    font-size: 25px;
    text-align: left;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0 0 10px 0;
}

.b-rightAuthor {
    padding: 0 0 20px 0;
}

.b-rightAuthor__item {
    font-size: 16px;
    text-align: left;
    position: relative;
    padding: 0 0 12px 20px;
    line-height: 1.4;
}

.b-rightAuthor__item:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: #e6e6e6;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 0px;
}

.b-container__testim {
    background: #f7f7f7;
    display: table;
    width: 100%;
    padding: 20px 0 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

.b-testim {
    margin: 60px auto 0px;
    padding: 0px 65px;
}

.b-testim__recommend {
    position: relative;
    z-index: 2;
    top: -115px;
}

.b-recommend {
    color: #000000;
    font-size: 0;
    background: #ffffff;
    padding: 30px 30px 30px 60px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 15px 30px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 15px 30px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 15px 30px 0px rgba(50, 50, 50, 0.2);
}

.b-recommend__leftRecommend {
    display: inline-block;
    width: 64%;
    vertical-align: middle;
    margin: 0 2% 0 0;
}

.b-leftRecommend__title {
    font-family: 'open_sansbold';
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0 0 35px 0;
}

.b-leftRecommend__text {
    font-family: 'open_sansregular';
    font-size: 20px;
    text-align: left;
    line-height: 1.5;
    margin: 0 0 33px 0;
}

.b-leftRecommend__sign {
    text-align: right;
    color: #8a8a8a;
    font-family: 'open_sansregular';
    font-size: 24px;
}

.b-recommend__rightRecommend {
    display: inline-block;
    width: 34%;
    vertical-align: middle;
}

.b-leftAuthor__img {
    max-width: 100%;
}